:root {
  --color__1: #ffffff;
  --color__2: #ffefdad3;
  --color__3: #ffefda;
  --color__4: #f6dab4;
  --color__5: #e3c08e;
  --color__6: #ab844e;
  --color__7: #533813;
  --color__8: #372409;
  --color__9: #1d1100;
}
